[Unit]
Description=A KMIP to PKCS#11 bridge.
Documentation=man:cascade-hsm-bridge(1)
After=network.target

[Service]
ExecStart=/usr/bin/cascade-hsm-bridge --config=/etc/cascade-hsm-bridge/config.toml
Type=exec
Restart=on-failure
User=cascade-hsm-bridge
AmbientCapabilities=CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_DAV_OVERRIDE
ProtectSystem=false

[Install]
WantedBy=multi-user.target

