# Configuring kmip2pkcs11
# =======================
#
# This is a template file.  Uncommented lines demonstrate the default settings.
# You can copy this and customize it to your liking, or write a configuration
# file from scratch using this as a reference.  

# The configuration file version.
#
# This is required.  All other settings, and their defaults, are associated
# with this version number.  More versions may be added in the future and
# kmip2pkcs11 may drop support for older versions over time.
# 
# - 'v1': This format.
version = "v1"


# Settings related to the PKCS#11 module to load.
[pkcs11]

# The PKCS#11 module to use to communicate with an HSM.
# TODO: Uncomment and set this to the actual path to the PKCS#11 module to use.
#lib-path = "/path/to/your/pkcs11/module.so"


# Settings related to the KMIP TCP+TLS interface offered by kmip2pkcs11 to
# clients.
#[server]

# The network address and port to listen on for incoming KMIP requests.
#addr = "127.0.0.1:5696"

#[server.identity]
# Optional path to a TLS certificate and key to use (in PEM format).
# When NOT specified a self-signed TLS certificate will be generated
# automatically.
#cert-path = "/path/to/cert/file"
#key-path = "/path/to/key/file"

# Settings relevant to any daemon program.
#[daemon]

# The minimum severity of the messages logged by the daemon.
#
# Messages at or above the specified severity level will be logged.  The
# following levels are defined:
# - 'trace': A function or variable was interacted with, for debugging.
# - 'debug': Something occurred that may be relevant to debugging.
# - 'info': Things are proceeding as expected.
# - 'warning': Something does not appear to be correct.
# - 'error': Something went wrong (but kmip2pkcs11 can recover).
#log-level = "warning"

# The location the daemon writes logs to.
#
# - type 'file': Logs are appended line-by-line to the specified file path.
#
#   If it is a terminal, ANSI escape codes may be used to style the output.
#
# - type 'stderr': Logs are written to stderr.
#
#   If it is a terminal, ANSI escape codes may be used to style the output.
#
# - type 'syslog': Logs are written to the UNIX syslog.
#
#   This option is only supported on UNIX systems.
#
# NOTE: When using systemd, 'syslog' and 'stderr' are the most reliable options.
# systemd environments are often heavily isolated, making file-based logging
# difficult.
#log-target = { type = "stderr" }
#log-target = { type = "syslog" }
#log-target = { type = "file", path = "/var/log/kmip2pkcs11.log" }

# Whether to apply internal daemonization.
#
# 'Daemonization' involves several steps:
# - Forking the process to disconnect it from the terminal
# - Tracking the new process' PID (by storing it in a file)
# - Binding privileged ports (below 1024) as configured
# - Dropping administrator privileges
#
# These features may be provided by an external system service manager, such as
# systemd.  If no such service manager is being used, kmip2pkcs11 can provide such
# features itself, by setting this option to 'true'.  This will also enable the
# 'pid-file' and 'identity' settings (although they remain optional).
#
# TODO: Link to a dedicated systemd / daemonization guide for kmip2pkcs11.
#daemonize = false

# The path to a PID file to maintain, if any.
#
# If specified, kmip2pkcs11 will maintain a PID file at this location; it will be a
# simple plain-text file containing the PID number of the daemon process.  This
# option is only supported if 'daemonize' is true.
#pid-file = "/var/run/kmip2pkcs11.pid"

# An identity (user and group) to assume after startup.
#
# kmip2pkcs11 will assume the specified identity after initialization.  Note that
# this will fail if kmip2pkcs11 is started without administrator privileges.  This
# option is only supported if 'daemonize' is 'true'.
#
# The identity can be specified as '<user>:<group>' or just '<user>'; in the
# latter case, the identically named group will be used.  Numeric IDs are not
# supported; only names can be used.
#
# NOTE: When using systemd, you should rely on its 'User=' and 'Group=' options
#   instead.  See <https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html#User=>.
#identity = "kmip2pkcs11:kmip2pkcs11"
